.zsp-grid,
.zsp-grid > .zsp-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -7px;
  margin-right: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.zsp-grid,
.zsp-grid > .zsp-grid,
.zsp-grid > .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.zsp-grid > * {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.zsp-grid > *,
.zsp-grid > .zsp-grid {
  list-style: none;
  margin: 0;
  float: none;
  padding-left: 7px;
  padding-right: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.zsp-grid > .col-3 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.zsp-grid > .col-4 {
  -webkit-flex-basis: 33.333333333333336%;
  flex-basis: 33.333333333333336%;
  max-width: 33.33333333%;
}
.zsp-grid > .col-6 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.zsp-grid > .col-8 {
  -webkit-flex-basis: 66.66666666666667%;
  flex-basis: 66.66666666666667%;
  max-width: 66.66666667%;
}
.zsp-grid > .col-9 {
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.zsp-grid > .col-12 {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
@font-face {
  font-family: 'zspicon';
  src: url('../fonts/zsp.eot?6mfloc');
  src: url('../fonts/zsp.eot?6mfloc#iefix') format('embedded-opentype'), url('../fonts/zsp.woff2?6mfloc') format('woff2'), url('../fonts/zsp.ttf?6mfloc') format('truetype'), url('../fonts/zsp.woff?6mfloc') format('woff'), url('../fonts/zsp.svg?6mfloc#zsp') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="sp-icon-"] {
  position: relative;
  display: inline-block;
  padding: 5px 9px;
  margin: 3px;
  border-radius: 3px;
  background: #333;
  color: #fff;
  font-size: 16px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
[class*="sp-icon-"]:hover {
  opacity: 0.8;
}
[class*="sp-icon-"] i {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zspicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  z-index: 10;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="sp-icon-"].soft {
  border-radius: 15%;
}
[class*="sp-icon-"].square {
  border-radius: 0;
}
[class*="sp-icon-"].minimal {
  color: inherit;
  background: transparent;
}
[class*="sp-icon-"].transparent {
  background: transparent;
}
[class*="sp-icon-"].circle {
  border-radius: 50%;
}
[class*="sp-icon-"].rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[class*="sp-icon-"].rotated i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
[class*="sp-icon-"].burst:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: inherit;
}
[class*="sp-icon-"].burst-alt:before,
[class*="sp-icon-"].burst-alt:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
[class*="sp-icon-"].burst-alt:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
[class*="sp-icon-"].burst-alt:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
[class*="sp-icon-"].burst,
[class*="sp-icon-"].burst-alt {
  margin: 7px;
}
[class*="sp-icon-"].large {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  padding: 7px 0;
}
[class*="sp-icon-"].extra-large {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 48px;
  padding: 14px 0;
}
[class*="sp-icon-"].large.burst,
[class*="sp-icon-"].large.burst-alt,
[class*="sp-icon-"].large.rotated {
  margin: 10px;
}
[class*="sp-icon-"].extra-large.burst,
[class*="sp-icon-"].extra-large.burst-alt,
[class*="sp-icon-"].extra-large.rotated {
  margin: 20px;
}
.zsp-zerowp-social-profiles-list > a {
  display: inline-block;
}
.zsp-zerowp-social-profiles-list .network {
  display: block;
  position: relative;
  padding-left: 45px;
  min-height: 30px;
  margin-bottom: 15px;
}
.zsp-zerowp-social-profiles-list .network > [class*="sp-icon-"] {
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  margin: 0;
}
.zsp-zerowp-social-profiles-list .network > .details .on {
  display: block;
}
.zsp-zerowp-social-profiles-list .network > .details .title {
  position: relative;
  display: inline-block;
  font-weight: 700;
}
.zsp-zerowp-social-profiles-list .network.large {
  padding-left: 65px;
  min-height: 50px;
  margin-bottom: 25px;
}
.zsp-zerowp-social-profiles-list .network.large > [class*="sp-icon-"] {
  top: 0;
}
.zsp-zerowp-social-profiles-list .network.extra-large {
  padding-left: 115px;
  min-height: 100px;
  margin-bottom: 25px;
}
.zsp-zerowp-social-profiles-list .network.extra-large > [class*="sp-icon-"] {
  top: 0;
}
.zsp-zerowp-social-profiles-list .network.extra-large.burst,
.zsp-zerowp-social-profiles-list .network.extra-large.burst-alt,
.zsp-zerowp-social-profiles-list .network.extra-large.rotated {
  min-height: 120px;
  padding-left: 120px;
}
.zsp-about-user-in {
  text-align: center;
}
.zsp-about-user-in.inline {
  text-align: left;
}
.zsp-about-user-in .photo {
  display: block;
  text-align: center;
}
.zsp-about-user-in .photo img {
  margin: 10px auto;
  display: inline-block;
}
.zsp-about-user-in .photo.circle img {
  border-radius: 50%;
}
.zsp-about-user-in .photo.square img {
  border-radius: 0;
}
.zsp-about-user-in .photo.soft img {
  border-radius: 5px;
}
.zsp-about-user-in .username {
  font-size: 22px;
}
.zsp-about-user-in .author-info {
  font-size: 14px;
  margin-bottom: 10px;
}
.zsp-about-user-in .author-info a {
  opacity: .85;
}
.zsp-about-user-in .author-info > span {
  display: inline-block;
}
.zsp-about-user-in .author-info > span + span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.sp-icon-500px {
  background: #58a9de;
}
.sp-icon-500px i:before {
  content: "\e000";
}
.sp-icon-8tracks {
  background: #122c4b;
}
.sp-icon-8tracks i:before {
  content: "\e001";
}
.sp-icon-airbnb {
  background: #ff5a5f;
}
.sp-icon-airbnb i:before {
  content: "\e002";
}
.sp-icon-alliance {
  background: #144587;
}
.sp-icon-alliance i:before {
  content: "\e003";
}
.sp-icon-amazon {
  background: #ff9900;
}
.sp-icon-amazon i:before {
  content: "\e004";
}
.sp-icon-amplement {
  background: #0996c3;
}
.sp-icon-amplement i:before {
  content: "\e005";
}
.sp-icon-android {
  background: #8ec047;
}
.sp-icon-android i:before {
  content: "\e006";
}
.sp-icon-angellist {
  background: #000000;
}
.sp-icon-angellist i:before {
  content: "\e007";
}
.sp-icon-apple {
  background: #B9BFC1;
}
.sp-icon-apple i:before {
  content: "\e008";
}
.sp-icon-appnet {
  background: #494949;
}
.sp-icon-appnet i:before {
  content: "\e009";
}
.sp-icon-baidu {
  background: #2629d9;
}
.sp-icon-baidu i:before {
  content: "\e00a";
}
.sp-icon-bandcamp {
  background: #619aa9;
}
.sp-icon-bandcamp i:before {
  content: "\e00b";
}
.sp-icon-battlenet {
  background: #0096CD;
}
.sp-icon-battlenet i:before {
  content: "\e00c";
}
.sp-icon-beam {
  background: #536dfe;
}
.sp-icon-beam i:before {
  content: "\e00d";
}
.sp-icon-bebee {
  background: #f28f16;
}
.sp-icon-bebee i:before {
  content: "\e00e";
}
.sp-icon-bebo {
  background: #EF1011;
}
.sp-icon-bebo i:before {
  content: "\e00f";
}
.sp-icon-behance {
  background: #000000;
}
.sp-icon-behance i:before {
  content: "\e010";
}
.sp-icon-blizzard {
  background: #01B2F1;
}
.sp-icon-blizzard i:before {
  content: "\e011";
}
.sp-icon-blogger {
  background: #ec661c;
}
.sp-icon-blogger i:before {
  content: "\e012";
}
.sp-icon-buffer {
  background: #000000;
}
.sp-icon-buffer i:before {
  content: "\e013";
}
.sp-icon-chrome {
  background: #757575;
}
.sp-icon-chrome i:before {
  content: "\e014";
}
.sp-icon-coderwall {
  background: #3E8DCC;
}
.sp-icon-coderwall i:before {
  content: "\e015";
}
.sp-icon-curse {
  background: #f26522;
}
.sp-icon-curse i:before {
  content: "\e016";
}
.sp-icon-dailymotion {
  background: #004e72;
}
.sp-icon-dailymotion i:before {
  content: "\e017";
}
.sp-icon-deezer {
  background: #32323d;
}
.sp-icon-deezer i:before {
  content: "\e018";
}
.sp-icon-delicious {
  background: #020202;
}
.sp-icon-delicious i:before {
  content: "\e019";
}
.sp-icon-deviantart {
  background: #c5d200;
}
.sp-icon-deviantart i:before {
  content: "\e01a";
}
.sp-icon-diablo {
  background: #8B1209;
}
.sp-icon-diablo i:before {
  content: "\e01b";
}
.sp-icon-digg {
  background: #1d1d1b;
}
.sp-icon-digg i:before {
  content: "\e01c";
}
.sp-icon-discord {
  background: #7289da;
}
.sp-icon-discord i:before {
  content: "\e01d";
}
.sp-icon-disqus {
  background: #2e9fff;
}
.sp-icon-disqus i:before {
  content: "\e01e";
}
.sp-icon-douban {
  background: #3ca353;
}
.sp-icon-douban i:before {
  content: "\e01f";
}
.sp-icon-draugiem {
  background: #ffa32b;
}
.sp-icon-draugiem i:before {
  content: "\e020";
}
.sp-icon-dribbble {
  background: #e84d88;
}
.sp-icon-dribbble i:before {
  content: "\e021";
}
.sp-icon-drupal {
  background: #00598e;
}
.sp-icon-drupal i:before {
  content: "\e022";
}
.sp-icon-ebay {
  background: #333333;
}
.sp-icon-ebay i:before {
  content: "\e023";
}
.sp-icon-ello {
  background: #000000;
}
.sp-icon-ello i:before {
  content: "\e024";
}
.sp-icon-endomodo {
  background: #86ad00;
}
.sp-icon-endomodo i:before {
  content: "\e025";
}
.sp-icon-envato {
  background: #597c3a;
}
.sp-icon-envato i:before {
  content: "\e026";
}
.sp-icon-etsy {
  background: #F56400;
}
.sp-icon-etsy i:before {
  content: "\e027";
}
.sp-icon-facebook {
  background: #3e5b98;
}
.sp-icon-facebook i:before {
  content: "\e028";
}
.sp-icon-feedburner {
  background: #ffcc00;
}
.sp-icon-feedburner i:before {
  content: "\e029";
}
.sp-icon-filmweb {
  background: #ffc404;
}
.sp-icon-filmweb i:before {
  content: "\e02a";
}
.sp-icon-firefox {
  background: #484848;
}
.sp-icon-firefox i:before {
  content: "\e02b";
}
.sp-icon-flattr {
  background: #F67C1A;
}
.sp-icon-flattr i:before {
  content: "\e02c";
}
.sp-icon-flickr {
  background: #1e1e1b;
}
.sp-icon-flickr i:before {
  content: "\e02d";
}
.sp-icon-formulr {
  background: #ff5a60;
}
.sp-icon-formulr i:before {
  content: "\e02e";
}
.sp-icon-forrst {
  background: #5B9A68;
}
.sp-icon-forrst i:before {
  content: "\e02f";
}
.sp-icon-foursquare {
  background: #f94877;
}
.sp-icon-foursquare i:before {
  content: "\e030";
}
.sp-icon-friendfeed {
  background: #2F72C4;
}
.sp-icon-friendfeed i:before {
  content: "\e031";
}
.sp-icon-gamejolt {
  background: #191919;
}
.sp-icon-gamejolt i:before {
  content: "\e901";
}
.sp-icon-github {
  background: #221e1b;
}
.sp-icon-github i:before {
  content: "\e032";
}
.sp-icon-goodreads {
  background: #463020;
}
.sp-icon-goodreads i:before {
  content: "\e033";
}
.sp-icon-google {
  background: #4285f4;
}
.sp-icon-google i:before {
  content: "\e034";
}
.sp-icon-googlegroups {
  background: #4F8EF5;
}
.sp-icon-googlegroups i:before {
  content: "\e036";
}
.sp-icon-googlephotos {
  background: #212121;
}
.sp-icon-googlephotos i:before {
  content: "\e037";
}
.sp-icon-googleplus {
  background: #dd4b39;
}
.sp-icon-googleplus i:before {
  content: "\e038";
}
.sp-icon-googlescholar {
  background: #4285f4;
}
.sp-icon-googlescholar i:before {
  content: "\e035";
}
.sp-icon-grooveshark {
  background: #000000;
}
.sp-icon-grooveshark i:before {
  content: "\e039";
}
.sp-icon-hackerrank {
  background: #2ec866;
}
.sp-icon-hackerrank i:before {
  content: "\e03a";
}
.sp-icon-hearthstone {
  background: #EC9313;
}
.sp-icon-hearthstone i:before {
  content: "\e03b";
}
.sp-icon-hellocoton {
  background: #d30d66;
}
.sp-icon-hellocoton i:before {
  content: "\e03c";
}
.sp-icon-heroes {
  background: #2397F7;
}
.sp-icon-heroes i:before {
  content: "\e03d";
}
.sp-icon-hitbox {
  background: #99CC00;
}
.sp-icon-hitbox i:before {
  content: "\e03e";
}
.sp-icon-horde {
  background: #84121C;
}
.sp-icon-horde i:before {
  content: "\e03f";
}
.sp-icon-houzz {
  background: #7CC04B;
}
.sp-icon-houzz i:before {
  content: "\e040";
}
.sp-icon-icq {
  background: #7EBD00;
}
.sp-icon-icq i:before {
  content: "\e041";
}
.sp-icon-identica {
  background: #000000;
}
.sp-icon-identica i:before {
  content: "\e042";
}
.sp-icon-imdb {
  background: #E8BA00;
}
.sp-icon-imdb i:before {
  content: "\e043";
}
.sp-icon-instagram {
  background: #000000;
}
.sp-icon-instagram i:before {
  content: "\e044";
}
.sp-icon-issuu {
  background: #F26F61;
}
.sp-icon-issuu i:before {
  content: "\e045";
}
.sp-icon-istock {
  background: #000000;
}
.sp-icon-istock i:before {
  content: "\e046";
}
.sp-icon-itunes {
  background: #ff5e51;
}
.sp-icon-itunes i:before {
  content: "\e047";
}
.sp-icon-keybase {
  background: #FF7100;
}
.sp-icon-keybase i:before {
  content: "\e048";
}
.sp-icon-lanyrd {
  background: #3c80c9;
}
.sp-icon-lanyrd i:before {
  content: "\e049";
}
.sp-icon-lastfm {
  background: #d41316;
}
.sp-icon-lastfm i:before {
  content: "\e04a";
}
.sp-icon-line {
  background: #00B901;
}
.sp-icon-line i:before {
  content: "\e04b";
}
.sp-icon-linkedin {
  background: #3371b7;
}
.sp-icon-linkedin i:before {
  content: "\e04c";
}
.sp-icon-livejournal {
  background: #0099CC;
}
.sp-icon-livejournal i:before {
  content: "\e04d";
}
.sp-icon-lyft {
  background: #FF00BF;
}
.sp-icon-lyft i:before {
  content: "\e04e";
}
.sp-icon-macos {
  background: #000000;
}
.sp-icon-macos i:before {
  content: "\e04f";
}
.sp-icon-mail {
  background: #000000;
}
.sp-icon-mail i:before {
  content: "\e050";
}
.sp-icon-medium {
  background: #000000;
}
.sp-icon-medium i:before {
  content: "\e051";
}
.sp-icon-meetup {
  background: #e2373c;
}
.sp-icon-meetup i:before {
  content: "\e052";
}
.sp-icon-mixcloud {
  background: #000000;
}
.sp-icon-mixcloud i:before {
  content: "\e053";
}
.sp-icon-modelmayhem {
  background: #000000;
}
.sp-icon-modelmayhem i:before {
  content: "\e054";
}
.sp-icon-mumble {
  background: #5AB5D1;
}
.sp-icon-mumble i:before {
  content: "\e055";
}
.sp-icon-myspace {
  background: #323232;
}
.sp-icon-myspace i:before {
  content: "\e056";
}
.sp-icon-newsvine {
  background: #075B2F;
}
.sp-icon-newsvine i:before {
  content: "\e057";
}
.sp-icon-nintendo {
  background: #F58A33;
}
.sp-icon-nintendo i:before {
  content: "\e058";
}
.sp-icon-npm {
  background: #C12127;
}
.sp-icon-npm i:before {
  content: "\e059";
}
.sp-icon-odnoklassniki {
  background: #f48420;
}
.sp-icon-odnoklassniki i:before {
  content: "\e05a";
}
.sp-icon-openid {
  background: #f78c40;
}
.sp-icon-openid i:before {
  content: "\e05b";
}
.sp-icon-opera {
  background: #FF1B2D;
}
.sp-icon-opera i:before {
  content: "\e05c";
}
.sp-icon-outlook {
  background: #0072C6;
}
.sp-icon-outlook i:before {
  content: "\e05d";
}
.sp-icon-overwatch {
  background: #9E9E9E;
}
.sp-icon-overwatch i:before {
  content: "\e05e";
}
.sp-icon-patreon {
  background: #E44727;
}
.sp-icon-patreon i:before {
  content: "\e05f";
}
.sp-icon-paypal {
  background: #009cde;
}
.sp-icon-paypal i:before {
  content: "\e060";
}
.sp-icon-periscope {
  background: #3AA4C6;
}
.sp-icon-periscope i:before {
  content: "\e061";
}
.sp-icon-persona {
  background: #e6753d;
}
.sp-icon-persona i:before {
  content: "\e062";
}
.sp-icon-pinterest {
  background: #c92619;
}
.sp-icon-pinterest i:before {
  content: "\e063";
}
.sp-icon-play {
  background: #000000;
}
.sp-icon-play i:before {
  content: "\e064";
}
.sp-icon-player {
  background: #6E41BD;
}
.sp-icon-player i:before {
  content: "\e065";
}
.sp-icon-playstation {
  background: #000000;
}
.sp-icon-playstation i:before {
  content: "\e066";
}
.sp-icon-pocket {
  background: #ED4055;
}
.sp-icon-pocket i:before {
  content: "\e067";
}
.sp-icon-qq {
  background: #4297d3;
}
.sp-icon-qq i:before {
  content: "\e068";
}
.sp-icon-quora {
  background: #cb202d;
}
.sp-icon-quora i:before {
  content: "\e069";
}
.sp-icon-raidcall {
  background: #073558;
}
.sp-icon-raidcall i:before {
  content: "\e06a";
}
.sp-icon-ravelry {
  background: #B6014C;
}
.sp-icon-ravelry i:before {
  content: "\e06b";
}
.sp-icon-reddit {
  background: #e74a1e;
}
.sp-icon-reddit i:before {
  content: "\e06c";
}
.sp-icon-renren {
  background: #2266b0;
}
.sp-icon-renren i:before {
  content: "\e06d";
}
.sp-icon-researchgate {
  background: #00CCBB;
}
.sp-icon-researchgate i:before {
  content: "\e06e";
}
.sp-icon-residentadvisor {
  background: #B3BE1B;
}
.sp-icon-residentadvisor i:before {
  content: "\e06f";
}
.sp-icon-reverbnation {
  background: #000000;
}
.sp-icon-reverbnation i:before {
  content: "\e070";
}
.sp-icon-rss {
  background: #f26109;
}
.sp-icon-rss i:before {
  content: "\e071";
}
.sp-icon-sharethis {
  background: #01bf01;
}
.sp-icon-sharethis i:before {
  content: "\e072";
}
.sp-icon-skype {
  background: #28abe3;
}
.sp-icon-skype i:before {
  content: "\e073";
}
.sp-icon-slideshare {
  background: #4ba3a6;
}
.sp-icon-slideshare i:before {
  content: "\e074";
}
.sp-icon-smugmug {
  background: #ACFD32;
}
.sp-icon-smugmug i:before {
  content: "\e075";
}
.sp-icon-snapchat {
  background: #ffdf00;
}
.sp-icon-snapchat i:before {
  content: "\e076";
}
.sp-icon-songkick {
  background: #F80046;
}
.sp-icon-songkick i:before {
  content: "\e077";
}
.sp-icon-soundcloud {
  background: #fe3801;
}
.sp-icon-soundcloud i:before {
  content: "\e078";
}
.sp-icon-spotify {
  background: #7bb342;
}
.sp-icon-spotify i:before {
  content: "\e079";
}
.sp-icon-spreadshirt {
  background: #00b2a6;
}
.sp-icon-spreadshirt i:before {
  content: "\e900";
}
.sp-icon-stackexchange {
  background: #2f2f2f;
}
.sp-icon-stackexchange i:before {
  content: "\e07a";
}
.sp-icon-stackoverflow {
  background: #FD9827;
}
.sp-icon-stackoverflow i:before {
  content: "\e07b";
}
.sp-icon-starcraft {
  background: #002250;
}
.sp-icon-starcraft i:before {
  content: "\e07c";
}
.sp-icon-stayfriends {
  background: #F08A1C;
}
.sp-icon-stayfriends i:before {
  content: "\e07d";
}
.sp-icon-steam {
  background: #171a21;
}
.sp-icon-steam i:before {
  content: "\e07e";
}
.sp-icon-storehouse {
  background: #25B0E6;
}
.sp-icon-storehouse i:before {
  content: "\e07f";
}
.sp-icon-strava {
  background: #FC4C02;
}
.sp-icon-strava i:before {
  content: "\e080";
}
.sp-icon-streamjar {
  background: #503a60;
}
.sp-icon-streamjar i:before {
  content: "\e081";
}
.sp-icon-stumbleupon {
  background: #e64011;
}
.sp-icon-stumbleupon i:before {
  content: "\e082";
}
.sp-icon-swarm {
  background: #FC9D3C;
}
.sp-icon-swarm i:before {
  content: "\e083";
}
.sp-icon-teamspeak {
  background: #465674;
}
.sp-icon-teamspeak i:before {
  content: "\e084";
}
.sp-icon-teamviewer {
  background: #168EF4;
}
.sp-icon-teamviewer i:before {
  content: "\e085";
}
.sp-icon-technorati {
  background: #5cb030;
}
.sp-icon-technorati i:before {
  content: "\e086";
}
.sp-icon-telegram {
  background: #0088cc;
}
.sp-icon-telegram i:before {
  content: "\e087";
}
.sp-icon-trello {
  background: #0079bf;
}
.sp-icon-trello i:before {
  content: "\e902";
}
.sp-icon-tripadvisor {
  background: #4B7E37;
}
.sp-icon-tripadvisor i:before {
  content: "\e088";
}
.sp-icon-tripit {
  background: #1982C3;
}
.sp-icon-tripit i:before {
  content: "\e089";
}
.sp-icon-triplej {
  background: #E53531;
}
.sp-icon-triplej i:before {
  content: "\e08a";
}
.sp-icon-tumblr {
  background: #45556c;
}
.sp-icon-tumblr i:before {
  content: "\e08b";
}
.sp-icon-tunein {
  background: #36b4a7;
}
.sp-icon-tunein i:before {
  content: "\e903";
}
.sp-icon-twitch {
  background: #6441a5;
}
.sp-icon-twitch i:before {
  content: "\e08c";
}
.sp-icon-twitter {
  background: #4da7de;
}
.sp-icon-twitter i:before {
  content: "\e08d";
}
.sp-icon-uber {
  background: #000000;
}
.sp-icon-uber i:before {
  content: "\e08e";
}
.sp-icon-ventrilo {
  background: #77808A;
}
.sp-icon-ventrilo i:before {
  content: "\e08f";
}
.sp-icon-viadeo {
  background: #e4a000;
}
.sp-icon-viadeo i:before {
  content: "\e090";
}
.sp-icon-viber {
  background: #7b519d;
}
.sp-icon-viber i:before {
  content: "\e091";
}
.sp-icon-viewbug {
  background: #2B9FCF;
}
.sp-icon-viewbug i:before {
  content: "\e092";
}
.sp-icon-vimeo {
  background: #51b5e7;
}
.sp-icon-vimeo i:before {
  content: "\e093";
}
.sp-icon-vine {
  background: #00b389;
}
.sp-icon-vine i:before {
  content: "\e094";
}
.sp-icon-vkontakte {
  background: #5a7fa6;
}
.sp-icon-vkontakte i:before {
  content: "\e095";
}
.sp-icon-warcraft {
  background: #1EB10A;
}
.sp-icon-warcraft i:before {
  content: "\e096";
}
.sp-icon-wechat {
  background: #09b507;
}
.sp-icon-wechat i:before {
  content: "\e097";
}
.sp-icon-weibo {
  background: #e31c34;
}
.sp-icon-weibo i:before {
  content: "\e098";
}
.sp-icon-whatsapp {
  background: #20B038;
}
.sp-icon-whatsapp i:before {
  content: "\e099";
}
.sp-icon-wikipedia {
  background: #000000;
}
.sp-icon-wikipedia i:before {
  content: "\e09a";
}
.sp-icon-windows {
  background: #00BDF6;
}
.sp-icon-windows i:before {
  content: "\e09b";
}
.sp-icon-wordpress {
  background: #464646;
}
.sp-icon-wordpress i:before {
  content: "\e09c";
}
.sp-icon-wykop {
  background: #328efe;
}
.sp-icon-wykop i:before {
  content: "\e09d";
}
.sp-icon-xbox {
  background: #92C83E;
}
.sp-icon-xbox i:before {
  content: "\e09e";
}
.sp-icon-xing {
  background: #005a60;
}
.sp-icon-xing i:before {
  content: "\e09f";
}
.sp-icon-yahoo {
  background: #6e2a85;
}
.sp-icon-yahoo i:before {
  content: "\e0a0";
}
.sp-icon-yammer {
  background: #1175C4;
}
.sp-icon-yammer i:before {
  content: "\e0a1";
}
.sp-icon-yandex {
  background: #FF0000;
}
.sp-icon-yandex i:before {
  content: "\e0a2";
}
.sp-icon-yelp {
  background: #c83218;
}
.sp-icon-yelp i:before {
  content: "\e0a3";
}
.sp-icon-younow {
  background: #61C03E;
}
.sp-icon-younow i:before {
  content: "\e0a4";
}
.sp-icon-youtube {
  background: #e02a20;
}
.sp-icon-youtube i:before {
  content: "\e0a5";
}
.sp-icon-zapier {
  background: #FF4A00;
}
.sp-icon-zapier i:before {
  content: "\e0a6";
}
.sp-icon-zerply {
  background: #9DBC7A;
}
.sp-icon-zerply i:before {
  content: "\e0a7";
}
.sp-icon-zomato {
  background: #cb202d;
}
.sp-icon-zomato i:before {
  content: "\e0a8";
}
.sp-icon-zynga {
  background: #DC0606;
}
.sp-icon-zynga i:before {
  content: "\e0a9";
}
