@import "__lesshat.less";

.zsp-width-generator (@n, @i) when (@i = 3), (@i = 4), (@i = 6), (@i = 12) {
	@nc: 12/@i;
	& > .col-@{i} {
		.flex-basis( @i * 100% / @n );
		max-width: @i * 100% / @n;
	}
}
.zsp-create-columns-width(@n: 12, @i: 1) when (@i =< @n) {
	.zsp-width-generator( @n, @i );
	.zsp-create-columns-width(@n, (@i + 1));
}

@zsp-space: 7px;

.zsp-grid {
	&,
	> .zsp-grid{
		list-style: none;
		margin: 0;
		padding: 0;
		margin-left: -(@zsp-space);
		margin-right: -(@zsp-space);
		.box-sizing( border-box );
		.flex-wrap( wrap );
	}
	&,
	> .zsp-grid,
	> .flex {
		.display( flex );
	}
	> * {
		.flex-basis( 100% );
		max-width: 100%;
	}
	> *,
	> .zsp-grid {
		list-style: none;
		margin: 0;
		float: none;
		padding-left: @zsp-space;
		padding-right: @zsp-space;
		.box-sizing( border-box );
	}

	.zsp-create-columns-width();

}

.zsp-grid {
	margin-top: 15px;
}

.zsp-widget-row{
	margin: 0 0 20px;
	
	.label{
		margin: 0 0 5px;
		font-weight: 700;
	}

	.zsp-description{
		font-style: normal;
		color: #72777c;
		margin: 0;
		padding: 0;
	}

}